<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.oj.auth.dao.UserMapper">
    <select id="getUserList" resultType="org.upc.oj.auth.po.OJUser">
        select username,identity from user where username=#{username} and password=#{password}
    </select>

    <select id="getUsers" resultType="org.upc.oj.auth.po.OJUser">
        select distinct * from user
        <where>
            <if test="user.username!=null and user.username!=''">
                <bind name="blockNameLike" value="'%'+user.username+'%'"/>
                and username=#{blockNameLike}
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>

    <select id="getUserCount" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test="username!=null and username!=''">
                <bind name="blockNameLike" value="'%'+username+'%'"/>
                and username=#{blockNameLike}
            </if>
        </where>
    </select>

    <insert id="regAccount">
        insert into user(username,password,identity) values (#{username},#{password},'user');
    </insert>
</mapper>