<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.oj.comment.dao.CommentMapper">
    <insert id="insertComment">
        insert into comment(username,qid,content,commentAt) values (#{username},#{qid},#{content},#{commentAt});
    </insert>
    <select id="getComments" resultType="org.upc.oj.comment.po.Comment">
        select * from comment where qid=#{qid};
    </select>
</mapper>