<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.oj.judger.dao.DBS">
    <select id="GetTestByQid" resultType="org.upc.oj.judger.po.TestIOFile">
    SELECT *FROM question_io WHERE qid=#{Qid}
    </select>
    <select id="GetJudgeLog"  resultType="org.upc.oj.judger.po.JudgeLogMap">
        SELECT *FROM submit WHERE username=#{username} AND qid=#{qid}
    </select>
    <insert id="InsertJudgeLog" parameterType="org.upc.oj.judger.po.JudgeLogMap">
        INSERT INTO submit VALUES (#{id},#{username},#{qid},#{result},#{time_cut});
    </insert>
    <update id="updataquestion" parameterType="org.upc.oj.judger.po.DBupdata">
        UPDATE question set nb_submit=any_value(nb_submit)+1 ,nb_pass=any_value(nb_pass)+#{pass} WHERE id=#{id};
    </update>
</mapper>