<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.oj.judge.dao.SubmitRecordMapper">
    <select id="getSubmitRecordByUsername" resultType="org.upc.oj.judge.po.SubmitRecord">
        select * from submit where username=#{username} and qid=#{qid} order by submitAt desc;
    </select>
    <insert id="insert">
        insert into submit(username,qid,result,nb_pass,nb_total,lang,submitAt)
        values (#{username},#{qid},#{result},#{nb_pass},#{nb_total},#{lang},#{submitAt});
    </insert>
</mapper>