<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.oj.bank.dao.QuestionMapper">

    <!--查询问题-->
    <select id="getQuestionList" resultType="org.upc.oj.bank.po.Question">
        select id,title,difficulty from question
        <where>
            <if test="q.id!=null and q.id!=''">
                and id=#{q.id}
            </if>
            <if test="q.title!=null and q.title!=''">
                <bind name="blockTitleLike" value="'%'+q.title+'%'"/>
                and title like #{blockTitleLike}
            </if>
            <if test="q.difficulty!=null and q.difficulty!=''">
                and difficulty=#{q.difficulty}
            </if>
            and deleted=0
        </where>
        limit #{start},#{pageSize}
    </select>

    <!--查询题目完整信息-->
    <select id="getQuestionInf" resultType="org.upc.oj.bank.po.Question">
        select * from question where id=#{id} and deleted=0
    </select>

    <!--查询某题的标签-->
    <select id="getQuestionTag" resultType="org.upc.oj.bank.po.Tag">
        select t.* from question_tag q,tag t where q.tid=t.id and q.qid=#{id}
    </select>

    <!--删除题目-->
    <update id="delQuestionById">
        update question set deleted=1 where id=#{id}
    </update>

    <!--删除题目标签-->
    <delete id="delQuestionTags">
        delete from question_tag where qid=#{qid}
        <if test="tids !=null and tids!=''">
            and tid in(
            <foreach collection="tids" item="tid" separator=",">
                #{tid}
            </foreach>
            )
        </if>
    </delete>

    <!--增加题目标签，修改标签结合删除与增加实现-->
    <insert id="addQuestionTags">
        insert into question_tag
        <foreach collection="tids"  item="tid" open="values" separator=",">
            (#{qid},#{tid})<!--注意这里必须是“dept.属性”-->
        </foreach>
    </insert>

    <!--添加题目-->
    <insert id="addQuestion">
        insert into question values(null,#{title},#{content},#{difficulty},#{io_count},#{timeout},#{memory_limit},#{deleted})
    </insert>
    
    <!--修该题目-->
    <update id="updateQuestion">
        update question
        <set>
            <if test="title!=null and title!=''">
                title=#{title},
            </if>
            <if test="content!=null and content!=''">
                content=#{content},
            </if>
            <if test="difficulty!=null and difficulty!=''">
                difficulty=#{difficulty},
            </if>
            <if test="io_count!=null and io_count!=''">
                io_count=#{io_count},
            </if>
            <if test="timeout!=null and timeout!=''">
                timeout=#{timeout},
            </if>
            <if test="memory_limit!=null and memory_limit!=''">
                memory_limit=#{memory_limit}
            </if>
        </set>
        where id=#{id}
    </update>

    <!--获取问题总数量-->
    <select id="getQuestionCount" resultType="java.lang.Integer">
        select count(*) from question
        <where>
            <if test="id!=null and id!=''">
                and id=#{id}
            </if>
            <if test="title!=null and title!=''">
                <bind name="blockTitleLike" value="'%'+title+'%'"/>
                and title like #{blockTitleLike}
            </if>
            <if test="difficulty!=null and difficulty!=''">
                and difficulty=#{difficulty}
            </if>
            and deleted=0
        </where>
    </select>

</mapper>
