<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.upc.oj.bank.dao.TagMapper">
    <!--插入标签-->
    <insert id="insertTag">
        insert into tag(title) values(#{title});
    </insert>
    <!--获取标签信息-->
    <select id="getTagList" resultType="org.upc.oj.bank.po.Tag">
         select  tag.*,count(qid) questionCount from tag left join question_tag on tag.id=question_tag.tid group by id  order by id
    </select>
    <!--删除标签-->
    <delete id="delTagByTitle">
        delete from tag where id in (
        <foreach collection="ids" item="id">
            #{id}
        </foreach>
        )
    </delete>
    <!--修改标签-->
    <update id="updateTagById">
        update tag set title=#{newTitle} where id=#{id}
    </update>
    <!--查询标签(模糊)-->
    <select id="getTagListByTitle" resultType="org.upc.oj.bank.po.Tag">
        <bind name="blockTitleLike" value="'%'+title+'%'"/>
        select * from tag where title like #{blockTitleLike}
    </select>
    <!--根据标签查询问题-->
    <select id="getQuestionListByTag" resultType="org.upc.oj.bank.po.Question">
        select  id,title,difficulty from question where id in (
            select qid from question_tag where tid=#{id})
        and deleted=0
    </select>
</mapper>